@using MvcOnlineTicariOtomasoyon.Models.Siniflar
@model List<KargoTakip>

@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>Acıklama</th>
        <th>Tarih</th>

        @*Bu kısımdan carilari daha önce yaptığı satın alma işlemlerini görüntülenecek*@
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Aciklama</td>
            <td>@x.TarihZaman</td>
        </tr>
    }
</table>

